footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #24292e;
    p {
        color: #868e96;
        margin: 0;
        font-size: 12px;
    }
}